---
import ImageIcon from "../../icons/Image.astro";
import "../../global.js";
---

<div class="image-carousel">
    <ImageIcon size="128" class="no-image-icon" />
    <p>No Images</p>
</div>

<style>
    .image-carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        block-size: 30rem;
    }

    .no-image-icon {
        fill: #aaa;
    }

    p {
        font-weight: 600;
        font-size: 1.5rem;
        margin-block-start: 2rem;
        color: #aaa;
    }
</style>
