---
import "../global.js";
---

<footer>
    <div class="link-section">
        <div class="footer-links">
            <div>The GNOME Project</div>
            <a
                target="_blank"
                rel="noreferrer"
                href="https://www.gnome.org/about/">About Us</a
            >
            <a
                target="_blank"
                rel="noreferrer"
                href="https://welcome.gnome.org/">Get Involved</a
            >
            <a
                target="_blank"
                rel="noreferrer"
                href="https://www.gnome.org/support-gnome/">Support GNOME</a
            >
            <a target="_blank" rel="noreferrer" href="https://shop.gnome.org/"
                >GNOME Shop</a
            >
            <a
                target="_blank"
                rel="noreferrer"
                href="https://foundation.gnome.org/contact-us/">Contact Us</a
            >
            <a
                target="_blank"
                rel="noreferrer"
                href="https://www.gnome.org/privacy/">Privacy</a
            >
            <a
                target="_blank"
                rel="noreferrer"
                href="https://foundation.gnome.org/">The GNOME Foundation</a
            >
        </div>
        <div class="footer-links">
            <div>Resources</div>
            <a
                target="_blank"
                rel="noreferrer"
                href="https://developer.gnome.org/">Developer Center</a
            >
            <a target="_blank" rel="noreferrer" href="https://help.gnome.org/"
                >Documentation</a
            >
            <a
                target="_blank"
                rel="noreferrer"
                href="https://mail.gnome.org/mailman/listinfo">Mailing Lists</a
            >
            <a target="_blank" rel="noreferrer" href="https://gitlab.gnome.org/"
                >Bug Tracker</a
            >
            <a target="_blank" rel="noreferrer" href="https://gitlab.gnome.org/"
                >Development Code</a
            >
        </div>
        <div class="footer-links">
            <div>News</div>
            <a
                target="_blank"
                rel="noreferrer"
                href="https://thisweek.gnome.org/">This Week in GNOME</a
            >
            <a
                target="_blank"
                rel="noreferrer"
                href="https://www.gnome.org/start/stable">Latest Release</a
            >
            <a target="_blank" rel="noreferrer" href="https://planet.gnome.org/"
                >Planet GNOME</a
            >
        </div>
    </div>
    <div class="footer-container">
        <small>
            <div>Copyright © 2005-2025 <b>The GNOME Project</b></div>
            <div>
                <a
                    href="https://creativecommons.org/licenses/by/3.0/"
                    target="_blank"
                    rel="noreferrer"
                >
                    Creative Commons CC-BY
                </a>. Hosted by <a href="" target="_blank" rel="noreferrer">
                    GitHub Pages
                </a>.
                <span class="credits-container">
                    <button
                        class="credits-button"
                        popovertarget="credits-popup"
                    >
                        <span class="credits-label">Credits </span>
                    </button>
                    <ul id="credits-popup" popover>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/arrow-right/"
                                target="_blank"
                                rel="noreferrer">ArrowRight (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/chevron-down/"
                                target="_blank"
                                rel="noreferrer">ChevronDown (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/cloud-arrow-up-fill/"
                                target="_blank"
                                rel="noreferrer">CloudDownload (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/gift-fill/"
                                target="_blank"
                                rel="noreferrer">Gift (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/house-door-fill/"
                                target="_blank"
                                rel="noreferrer">HouseDoor (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/lightning-fill/"
                                target="_blank"
                                rel="noreferrer">Lightning (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/sort-down/"
                                target="_blank"
                                rel="noreferrer">SortDown (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/star-fill/"
                                target="_blank"
                                rel="noreferrer">Stars (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/chat-square-heart-fill/"
                                target="_blank"
                                rel="noreferrer">Chat (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/hearts/"
                                target="_blank"
                                rel="noreferrer">Hearts (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/cloud-arrow-up-fill/"
                                target="_blank"
                                rel="noreferrer">CloudArrowUp (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/gear-fill/"
                                target="_blank"
                                rel="noreferrer">Gear (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="ttps://icons.getbootstrap.com/icons/layout-sidebar-inset/"
                                target="_blank"
                                rel="noreferrer">LayoutSidebar (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/search/"
                                target="_blank"
                                rel="noreferrer">Search (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/sort-up/"
                                target="_blank"
                                rel="noreferrer">SortUp (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/image-fill/"
                                target="_blank"
                                rel="noreferrer">Image (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/calendar/"
                                target="_blank"
                                rel="noreferrer">Calendar (Bootstrap)</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                href="https://icons.getbootstrap.com/icons/file-code/"
                                target="_blank"
                                rel="noreferrer">FileCode (Bootstrap)</a
                            >
                        </li>
                    </ul>
                </span>
            </div>
        </small>
    </div>
</footer>

<style>
    footer {
        background-color: #f5f5f5;
    }

    .link-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-block: 2.5rem;
        padding-inline-start: 2rem;
        gap: 2rem;
    }

    .link-section .footer-links {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        :first-child {
            font-weight: 600;
            margin-block-end: 0.5rem;
        }

        a {
            color: var(--text-color);
            text-decoration-line: none;

            &:hover {
                text-decoration-line: underline;
            }
        }
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        block-size: 4.5rem;
        background-color: black;
        color: var(--text-color-dim);
    }

    .footer-container small {
        font-size: small;
        text-align: center;
    }

    .credits-container {
        position: relative;
    }

    .credits-button {
        color: var(--text-color-dim);
        position: relative;
        border: none;
        background-color: transparent;

        &:hover {
            color: var(--primary-color-text);
        }
    }

    .credits-label {
        text-decoration: none;
        position: relative;

        & .caret-icon {
            transition: transform 0.2s;
            position: absolute;
            top: calc(50% - 5px);
            right: -0.75rem;
        }
    }

    .credits-container:has(:popover-open) {
        .credits-label {
            color: var(--primary-color-text);
        }

        .caret-icon {
            transform: rotate(-90deg);
            fill: var(--primary-color-text);
        }
    }

    [popover] {
        inset: unset;
        bottom: 3rem;
        right: 3rem;
        margin: 0;
        color: var(--text-color);
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        padding-block: 1rem;
        padding-inline: 1.5rem;
        white-space: nowrap;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

        & li {
            list-style: none;
            margin-inline: 0;
        }

        & li > a > .dia-arrow {
            position: relative;
            top: 0.2rem;
            color: var(--primary-color-text);
            margin-inline-start: 1ch;
        }

        &:popover-open {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }

    .contact-details {
        color: var(--text-color-dim);

        &:hover {
            color: var(--primary-color-text);
        }
    }

    @media (min-width: 40rem) {
        .link-section {
            flex-direction: row;
            padding-inline-start: 0;
            gap: 8rem;
        }

        [popover] {
            right: unset;
            margin-inline-start: 10rem;
        }
    }
</style>
